  .container{
    max-width: 1100px;
  }

  body{
    font-family: 'Khula', sans-serif;
  }

  h1, h2, h3, h4, h5, h6, blockquote{
    font-family: 'Old Standard TT', serif;
  }

  ul.no-style{
    list-style: none;
  }

  button{
    @include button-style;
  }
