  html, body{
    overflow-x: hidden;
  }

  body{
    font-family: 'Khula', sans-serif;
  }

  h1, h2, h3, h4, h5, h6, blockquote{
    font-family: 'Old Standard TT', serif;
  }

  ul.no-style{
    list-style: none;
  }

  button{
    @include button-style;
    @media all and (max-width: $breakpoint-xl){
      font-size: 0.9em;
    }
  }

  .container{
    @media all and (min-width: $breakpoint-xxl) {
    max-width: 1350px;
    }
  }
