  .container{
    max-width: 1100px;
  }

  body{
    font-family: 'Khula', sans-serif;
  }

  h1, h2, h3, h4, h5, h6, blockquote{
    font-family: 'Old Standard TT', serif;
  }

  ul.no-style{
    list-style: none;
  }

  button{
    @include button-style;
  }

.uppercase-title{
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 400;
}

.text{
  padding: 28px;

  p{
    font-size: 1.2em;
  }

  p.price, p.title{
    font-weight: 700;
  }

  p.title{
    color: $color10;
    line-height: 35px;
  }

  p.price>.integer{
    font-size: 1.3em;
  }
}
