.jumbo{
  .peace-on-earth{
    padding-right: 114px;
    p{
      font-size: 1em;
    }

    p.wingman{
      text-transform: uppercase;
      font-weight: 600;
      color: $color2;
    }

    h1{
      font-size: 3.3em;
      line-height: 78px;
    }

    p.subtitle{
      font-size: 1.2em;
      color: $color5;
      line-height: 29px;
    }

    button{

      i{
        padding-left: 5px;
      }

    }
  }

  .image{
    padding-left: 20px;
    position: relative;

    img.motivation{
      position: absolute;
      z-index: 1;
      height: 612px;
    }

    img.shape{
      position: absolute;
      left: 26px;
      z-index: 0;
      top: 43%;
      height: 507px;
    }
  }


}
