.jumbo{
  .peace-on-earth{
    padding-right: 100px;
    p{
      font-size: 0.8em;
    }

    p#wingman{
      text-transform: uppercase;
      font-weight: 600;
      color: $color2;
    }

    h1{
      line-height: 50px;
    }

    p.subtitle{
      color: $color5;
    }

    button{

      i{
        padding-left: 5px;
      }
      
    }



  }

}
