.jumbo{

  .peace-on-earth{
    padding-right: 114px;

    @media all and (min-width: 992px) and (max-width: 1082px){
      padding-right: 102px;
    }
    p{
      font-size: 1em;
    }

    p.wingman{
      font-weight: 600;
      color: $color2;
      position: relative;

      span{
        position: absolute;
        bottom: 2px;
      }
    }

    h1{
      font-size: 3.3em;
      line-height: 78px;

      @media all and (min-width: 992px) and (max-width: 1082px){
        font-size: 3em;
      }

    }

    p.subtitle{
      font-size: 1.2em;
      color: $color5;
      line-height: 29px;
    }

    button{

      i{
        padding-left: 5px;
      }

    }
  }

  .image{
    padding-left: 20px;
    position: relative;

    @media all and (max-width: $breakpoint-md) {
      text-align: center;
      padding-top: 0;
    }

    img.motivation{
      position: relative;
      z-index: 1;
      height: 612px;
    }

    img.shape{
      position: absolute;
      left: 26px;
      z-index: 0;
      top: 43%;
      height: 507px;

      @media all and (max-width: $breakpoint-md) {
        left: 122px;
        top: 218px;
      }
    }
  }
}
