main{
  background-color: $color1;
  z-index: 1;
  position: relative;
  @import "./_section_first.scss";
  @import "./_section_second.scss";
  @import "./_section_third.scss";
  @import "./_section_fourth.scss";
  @import "./_section_fifth.scss";
  @import "./_section_sixth.scss";
}
