nav{
  padding: 0;

  .logo{

    img{
    height: 20px;
    }

    @media all and (max-width: $breakpoint-md) {
      text-align: center;
      padding-bottom: 20px;
    }
  }

  .menu-navigation{
    font-size: 1.3em;

    @media all and (min-width: 1500px) {
    padding-left: 140px;
    font-size: 1.8em;
    }

    ul{
      @include flex-align-center;
      justify-content: space-between;
      @media all and (max-width: $breakpoint-lg) {
        padding-top: 15px;
      }
      li{
        padding-right: 12px;
      }

      a{
        color: $color10;
        font-size: 0.8em;
        font-weight: 500;

        i{
          font-size: 0.7em;
        }
      }
    }

    ul.social-links{
      @include flex-align-center;
      justify-content: flex-end;

      @media all and (max-width: $breakpoint-lg) {
        justify-content: center;
        font-size: 1.5em;
      }

      li{
        font-size: 2em;
        padding-left: 20px;

        a{
          color: $color10;
        }
      }
    }
  }
}
