nav{

  .logo{

    img{
    height: 20px;
    }

    @media all and (max-width: $breakpoint-md) {
      text-align: center;
      padding-bottom: 20px;
    }
  }

  .menu-navigation{

    padding-left: 36px;
    padding-right: 36px;

    ul{
      @include flex-align-center;
      justify-content: space-between;

      a{
        color: $color10;
        font-size: 0.8em;
        font-weight: 500;

        i{
          font-size: 0.7em;
        }
      }
    }
  }

  .social-links{
    ul{
      @include flex-align-center;
      justify-content: flex-end;
      
      @media all and (max-width: $breakpoint-md) {
        justify-content: center;
      }

      li{
        font-size: 1em;
        padding-left: 20px;

        a{
          color: $color10;
        }
      }
    }

  }

}
