.book-store{
  .presentation{

    h3{
      color: $color10;
      font-size: 2.4em;
      line-height: 50px;
    }

    ul{
      li{
        line-height: 40px;
        font-size: 0.9em;
        color: $color5;

        i{
          padding-right: 13px;
        }


      }
    }
  }

  .products{
    @include flex-align-center;
    justify-content: center;

    .book-container{
      width: calc(100% / 2);

      &:first-child{
        margin-right: 24px;
      }

      img{
        width: 100%;
      }
    }
  }

}
