.goals{
  .goals-number>*{
    p.number{
      font-size: 2.1em;
      font-weight: 700;
      color: $color4;
    }

    p.description{
      color: $color2;
      text-transform: uppercase;
      font-weight: 600;
    }
  }
}
