$padding-directions: pt, pb;
@each $padding in $padding-directions {
  @for $i from 1 through 30 {
    .#{$padding}-#{$i*5} {
      @if $padding == pt {
        padding-top: 5px * $i;
      } @else {
        padding-bottom: 5px * $i;
      }
    }
  }
}

.green-text{
  color: $color4;
}

.green-title{
  text-transform: uppercase;
  color: $color4;
  font-size: 0.7em;
}
