$padding-directions: pt, pb;
@each $padding in $padding-directions {
  @for $i from 1 through 30 {
    .#{$padding}-#{$i*5} {
      @if $padding == pt {
        padding-top: 5px * $i;
      } @else {
        padding-bottom: 5px * $i;
      }
    }
  }
}

.green-text{
  color: $color4;
}

.green-title{
  text-transform: uppercase;
  color: $color4;
  font-size: 0.7em;
}

.uppercase-title{
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 400;
}

.text{
  padding: 28px;

  p{
    font-size: 1.2em;
  }

  p.price, p.title{
    font-weight: 700;
  }

  p.title{
    color: $color10;
    line-height: 35px;
  }

  p.price>.integer{
    font-size: 1.3em;
  }
}
