.pt-5 {
  padding-top: 5px;
}

.pt-10 {
  padding-top: 10px;
}

.pt-15 {
  padding-top: 15px;
}

.pt-20 {
  padding-top: 20px;
}

.pt-25 {
  padding-top: 25px;
}

.pt-30 {
  padding-top: 30px;
}

.pt-35 {
  padding-top: 35px;
}

.pt-40 {
  padding-top: 40px;
}

.pt-45 {
  padding-top: 45px;
}

.pt-50 {
  padding-top: 50px;
}

.pt-55 {
  padding-top: 55px;
}

.pt-60 {
  padding-top: 60px;
}

.pt-65 {
  padding-top: 65px;
}

.pt-70 {
  padding-top: 70px;
}

.pt-75 {
  padding-top: 75px;
}

.pt-80 {
  padding-top: 80px;
}

.pt-85 {
  padding-top: 85px;
}

.pt-90 {
  padding-top: 90px;
}

.pt-95 {
  padding-top: 95px;
}

.pt-100 {
  padding-top: 100px;
}

.pt-105 {
  padding-top: 105px;
}

.pt-110 {
  padding-top: 110px;
}

.pt-115 {
  padding-top: 115px;
}

.pt-120 {
  padding-top: 120px;
}

.pt-125 {
  padding-top: 125px;
}

.pt-130 {
  padding-top: 130px;
}

.pt-135 {
  padding-top: 135px;
}

.pt-140 {
  padding-top: 140px;
}

.pt-145 {
  padding-top: 145px;
}

.pt-150 {
  padding-top: 150px;
}

.pb-5 {
  padding-bottom: 5px;
}

.pb-10 {
  padding-bottom: 10px;
}

.pb-15 {
  padding-bottom: 15px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pb-25 {
  padding-bottom: 25px;
}

.pb-30 {
  padding-bottom: 30px;
}

.pb-35 {
  padding-bottom: 35px;
}

.pb-40 {
  padding-bottom: 40px;
}

.pb-45 {
  padding-bottom: 45px;
}

.pb-50 {
  padding-bottom: 50px;
}

.pb-55 {
  padding-bottom: 55px;
}

.pb-60 {
  padding-bottom: 60px;
}

.pb-65 {
  padding-bottom: 65px;
}

.pb-70 {
  padding-bottom: 70px;
}

.pb-75 {
  padding-bottom: 75px;
}

.pb-80 {
  padding-bottom: 80px;
}

.pb-85 {
  padding-bottom: 85px;
}

.pb-90 {
  padding-bottom: 90px;
}

.pb-95 {
  padding-bottom: 95px;
}

.pb-100 {
  padding-bottom: 100px;
}

.pb-105 {
  padding-bottom: 105px;
}

.pb-110 {
  padding-bottom: 110px;
}

.pb-115 {
  padding-bottom: 115px;
}

.pb-120 {
  padding-bottom: 120px;
}

.pb-125 {
  padding-bottom: 125px;
}

.pb-130 {
  padding-bottom: 130px;
}

.pb-135 {
  padding-bottom: 135px;
}

.pb-140 {
  padding-bottom: 140px;
}

.pb-145 {
  padding-bottom: 145px;
}

.pb-150 {
  padding-bottom: 150px;
}

.green-text {
  color: #20ac97;
}

.green-title {
  text-transform: uppercase;
  color: #20ac97;
  font-size: 0.7em;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1100px;
}

body {
  font-family: "Khula", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Old Standard TT", serif;
}

ul.no-style {
  list-style: none;
}

button {
  background-color: #20ac97;
  color: #ffffff;
  border-radius: 4px;
  padding: 15px 44px;
  font-size: 0.7em;
  font-weight: bold;
  border: 0;
}

header {
  background-image: url("../img/background-pattern-wavify.png");
  background-color: #fcf7fb;
}
header .header-top nav .logo img {
  height: 20px;
}
header .header-top nav .menu-navigation {
  padding-left: 36px;
  padding-right: 36px;
}
header .header-top nav .menu-navigation ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .header-top nav .menu-navigation ul a {
  color: #3f3a64;
  font-size: 0.8em;
  font-weight: 500;
}
header .header-top nav .menu-navigation ul a i {
  font-size: 0.7em;
}
header .header-top nav .social-links ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
header .header-top nav .social-links ul li {
  font-size: 1em;
  padding-left: 20px;
}
header .header-top nav .social-links ul li a {
  color: #3f3a64;
}
header .jumbo .peace-on-earth {
  padding-right: 114px;
}
header .jumbo .peace-on-earth p {
  font-size: 1em;
}
header .jumbo .peace-on-earth p#wingman {
  text-transform: uppercase;
  font-weight: 600;
  color: #171520;
}
header .jumbo .peace-on-earth h1 {
  font-size: 3.3em;
  line-height: 78px;
}
header .jumbo .peace-on-earth p.subtitle {
  font-size: 1.2em;
  color: #6b6c6c;
  line-height: 29px;
}
header .jumbo .peace-on-earth button i {
  padding-left: 5px;
}
header .jumbo .image {
  padding-left: 20px;
  position: relative;
}
header .jumbo .image img.motivation {
  position: absolute;
  z-index: 1;
  height: 612px;
}
header .jumbo .image img.shape {
  position: absolute;
  left: 26px;
  z-index: 0;
  top: 43%;
  height: 507px;
}

main {
  background-color: #ffffff;
  z-index: 1;
  position: relative;
}
main .goals-number > * p.number {
  font-size: 2.1em;
  font-weight: 700;
  color: #20ac97;
}
main .goals-number > * p.description {
  color: #171520;
  text-transform: uppercase;
  font-weight: 400;
}
main .alpha-male .title {
  padding-right: 118px;
}
main .alpha-male .title h3 {
  font-size: 2.3em;
  line-height: 55px;
}
main .alpha-male .description p:first-child {
  font-size: 1em;
  font-weight: 600;
  color: #171520;
}
main .alpha-male .description p:last-child {
  font-size: 0.9em;
  color: #6b6c6c;
}
