.pt-5 {
  padding-top: 5px;
}

.pt-10 {
  padding-top: 10px;
}

.pt-15 {
  padding-top: 15px;
}

.pt-20 {
  padding-top: 20px;
}

.pt-25 {
  padding-top: 25px;
}

.pt-30 {
  padding-top: 30px;
}

.pt-35 {
  padding-top: 35px;
}

.pt-40 {
  padding-top: 40px;
}

.pt-45 {
  padding-top: 45px;
}

.pt-50 {
  padding-top: 50px;
}

.pt-55 {
  padding-top: 55px;
}

.pt-60 {
  padding-top: 60px;
}

.pt-65 {
  padding-top: 65px;
}

.pt-70 {
  padding-top: 70px;
}

.pt-75 {
  padding-top: 75px;
}

.pt-80 {
  padding-top: 80px;
}

.pt-85 {
  padding-top: 85px;
}

.pt-90 {
  padding-top: 90px;
}

.pt-95 {
  padding-top: 95px;
}

.pt-100 {
  padding-top: 100px;
}

.pt-105 {
  padding-top: 105px;
}

.pt-110 {
  padding-top: 110px;
}

.pt-115 {
  padding-top: 115px;
}

.pt-120 {
  padding-top: 120px;
}

.pt-125 {
  padding-top: 125px;
}

.pt-130 {
  padding-top: 130px;
}

.pt-135 {
  padding-top: 135px;
}

.pt-140 {
  padding-top: 140px;
}

.pt-145 {
  padding-top: 145px;
}

.pt-150 {
  padding-top: 150px;
}

.pb-5 {
  padding-bottom: 5px;
}

.pb-10 {
  padding-bottom: 10px;
}

.pb-15 {
  padding-bottom: 15px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pb-25 {
  padding-bottom: 25px;
}

.pb-30 {
  padding-bottom: 30px;
}

.pb-35 {
  padding-bottom: 35px;
}

.pb-40 {
  padding-bottom: 40px;
}

.pb-45 {
  padding-bottom: 45px;
}

.pb-50 {
  padding-bottom: 50px;
}

.pb-55 {
  padding-bottom: 55px;
}

.pb-60 {
  padding-bottom: 60px;
}

.pb-65 {
  padding-bottom: 65px;
}

.pb-70 {
  padding-bottom: 70px;
}

.pb-75 {
  padding-bottom: 75px;
}

.pb-80 {
  padding-bottom: 80px;
}

.pb-85 {
  padding-bottom: 85px;
}

.pb-90 {
  padding-bottom: 90px;
}

.pb-95 {
  padding-bottom: 95px;
}

.pb-100 {
  padding-bottom: 100px;
}

.pb-105 {
  padding-bottom: 105px;
}

.pb-110 {
  padding-bottom: 110px;
}

.pb-115 {
  padding-bottom: 115px;
}

.pb-120 {
  padding-bottom: 120px;
}

.pb-125 {
  padding-bottom: 125px;
}

.pb-130 {
  padding-bottom: 130px;
}

.pb-135 {
  padding-bottom: 135px;
}

.pb-140 {
  padding-bottom: 140px;
}

.pb-145 {
  padding-bottom: 145px;
}

.pb-150 {
  padding-bottom: 150px;
}

.green-text {
  color: #82ac20;
}

.green-title {
  text-transform: uppercase;
  color: #82ac20;
  font-size: 0.7em;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1100px;
}

body {
  font-family: "Khula", sans-serif;
}

h1, h2, h3, h4, h5, h6, blockquote {
  font-family: "Old Standard TT", serif;
}

ul.no-style {
  list-style: none;
}

button {
  background-color: #82ac20;
  color: #ffffff;
  border-radius: 4px;
  padding: 15px 44px;
  font-size: 0.7em;
  font-weight: bold;
  border: 0;
}

.uppercase-title {
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 400;
}

.text {
  padding: 28px;
}
.text p {
  font-size: 1.2em;
}
.text p.price, .text p.title {
  font-weight: 700;
}
.text p.title {
  color: #3f3a64;
  line-height: 35px;
}
.text p.price > .integer {
  font-size: 1.3em;
}

header {
  background-image: url("../img/background-pattern-wavify.png");
  background-color: #fcf7fb;
}
header .header-top nav .logo img {
  height: 20px;
}
header .header-top nav .menu-navigation {
  padding-left: 36px;
  padding-right: 36px;
}
header .header-top nav .menu-navigation ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .header-top nav .menu-navigation ul a {
  color: #3f3a64;
  font-size: 0.8em;
  font-weight: 500;
}
header .header-top nav .menu-navigation ul a i {
  font-size: 0.7em;
}
header .header-top nav .social-links ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
header .header-top nav .social-links ul li {
  font-size: 1em;
  padding-left: 20px;
}
header .header-top nav .social-links ul li a {
  color: #3f3a64;
}
header .jumbo {
  position: relative;
}
header .jumbo .peace-on-earth {
  padding-right: 114px;
}
header .jumbo .peace-on-earth p {
  font-size: 1em;
}
header .jumbo .peace-on-earth p.wingman {
  font-weight: 600;
  color: #171520;
  position: relative;
}
header .jumbo .peace-on-earth p.wingman span {
  position: absolute;
  bottom: 2px;
}
header .jumbo .peace-on-earth h1 {
  font-size: 3.3em;
  line-height: 78px;
}
header .jumbo .peace-on-earth p.subtitle {
  font-size: 1.2em;
  color: #6b6c6c;
  line-height: 29px;
}
header .jumbo .peace-on-earth button i {
  padding-left: 5px;
}
header .jumbo .image {
  padding-left: 20px;
  position: relative;
}
header .jumbo .image img.motivation {
  position: absolute;
  z-index: 1;
  height: 612px;
}
header .jumbo .image img.shape {
  position: absolute;
  left: 26px;
  z-index: 0;
  top: 43%;
  height: 507px;
}
header .jumbo .tools {
  display: flex;
  flex-direction: column;
  position: absolute;
}

main {
  background-color: #ffffff;
  z-index: 1;
  position: relative;
}
main .goals .goals-number > * p.number {
  font-size: 2.1em;
  font-weight: 700;
  color: #82ac20;
}
main .goals .goals-number > * p.description {
  color: #171520;
  text-transform: uppercase;
  font-weight: 600;
}
main .about-me .alpha-male .title {
  padding-right: 118px;
}
main .about-me .alpha-male .title h3 {
  font-size: 2.3em;
  line-height: 55px;
}
main .about-me .alpha-male .description p:first-child {
  font-size: 1em;
  font-weight: 600;
  color: #171520;
}
main .about-me .alpha-male .description p:last-child {
  font-size: 0.9em;
  color: #6b6c6c;
}
main .about-me .alpha-video .video-preview {
  position: relative;
}
main .about-me .alpha-video .video-preview img.preview {
  width: 100%;
  box-shadow: 0 55px 112px -65px #c2a394;
}
main .about-me .alpha-video .video-preview img.play {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
main .about-me .alpha-video .video-quote {
  padding-left: 65px;
  padding-right: 65px;
}
main .about-me .alpha-video .video-quote blockquote {
  font-size: 1.5em;
  line-height: 42px;
  padding-top: 44px;
  padding-bottom: 36px;
}
main .about-me .alpha-video .video-quote p.author {
  font-size: 1.5em;
  font-weight: 600;
  padding-top: 20px;
  margin-bottom: 0;
}
main .about-me .alpha-video .video-quote p.wingman {
  padding-top: 5px;
  color: #6b6c6c;
}
main .latest-courses .courses-title p {
  color: #6b6c6c;
}
main .latest-courses .courses-title h2 {
  color: #3f3a64;
  font-size: 2.8em;
}
main .latest-courses .courses [class*=col-] {
  padding-left: 12px;
  padding-right: 12px;
}
main .latest-courses .courses [class*=col-]:hover {
  background-image: linear-gradient(to top right, #fcf7fb, #ffffff);
  cursor: pointer;
}
main .latest-courses .courses [class*=col-] .card {
  border: 0;
}
main .latest-courses .courses [class*=col-] .card .cover img {
  width: 100%;
}
main .latest-courses .courses [class*=col-] .card .text p.price {
  margin-bottom: 9px;
}
main .latest-courses .courses [class*=col-] .card .text p.info {
  padding-top: 16px;
  color: #6b6c6c;
  font-size: 0.9em;
}
main .latest-courses .courses [class*=col-] .card .text p.info .students {
  padding-left: 30px;
}
main .latest-courses .view-all button i {
  padding-left: 6px;
}
main .book-store .presentation p.uppercase {
  color: #171520;
}
main .book-store .presentation h3 {
  color: #3f3a64;
  font-size: 2.4em;
  line-height: 56px;
}
main .book-store .presentation ul li {
  line-height: 35px;
  font-size: 0.9em;
  color: #9aa2a6;
}
main .book-store .presentation ul li i {
  padding-right: 13px;
}
main .book-store .products {
  display: flex;
  align-items: center;
  justify-content: center;
}
main .book-store .products .book-container {
  width: calc(100% / 2);
  position: relative;
}
main .book-store .products .book-container:first-child {
  margin-right: 24px;
}
main .book-store .products .book-container:hover .tools {
  display: block;
  cursor: pointer;
}
main .book-store .products .book-container img {
  width: 100%;
}
main .book-store .products .book-container .tools {
  display: none;
  position: absolute;
  top: 17%;
  left: 76%;
}
main .book-store .products .book-container .tools .circle {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 9px 16px;
  margin-bottom: 7px;
  width: 13px;
  border-radius: 50%;
  background-color: #fff;
}
main .book-store .products .book-container .tools .circle i {
  color: #6b6c6c;
  font-size: 0.8em;
}
main .book-store .logos {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main .book-store .logos .logo img {
  filter: grayscale(100%);
  opacity: 0.2;
}
main .reviews .row {
  position: relative;
}
main .reviews .row .testimonials, main .reviews .row .picture {
  padding-left: 0;
  padding-right: 0;
  height: 537.6px;
}
main .reviews .row .testimonials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("../img/background-pattern-wavify.png");
  background-color: #fcf7fb;
  padding: 0 168px;
}
main .reviews .row .testimonials .uppercase-title {
  font-size: 0.7em;
  font-weight: 600;
}
main .reviews .row .testimonials .review {
  font-size: 1.3em;
  font-weight: 600;
  color: #171520;
}
main .reviews .row .testimonials .author {
  padding-top: 17px;
  margin-bottom: 12px;
  font-weight: 600;
  color: #171520;
}
main .reviews .row .testimonials .role {
  font-size: 0.7em;
  color: #6b6c6c;
}
main .reviews .row .testimonials .image img {
  border-radius: 50%;
  width: 73px;
}
main .reviews .row .picture {
  background-image: url("../img/home-movation-testimonial-image.jpg");
  background-size: cover;
  background-position: center;
}
main .reviews .row .slide-number {
  border-radius: 50%;
  background-color: #fff;
  width: 30px;
  padding: 14px 42px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
main .reviews .row .slide-number:hover {
  cursor: pointer;
}
main .reviews .row .slide-number p {
  margin-bottom: 8px;
  margin-top: 8px;
}
main .reviews .row .slide-number img {
  width: 14px;
}
main .blog .blog-title h3 {
  font-size: 2.4em;
}
main .blog .previews img {
  width: 100%;
}
main .blog .previews .date {
  color: #6b6c6c;
  font-size: 0.8em;
}
main .blog .previews .date i {
  padding-right: 4px;
}
main .blog .previews .title {
  color: #171520;
  font-weight: 700;
}
main .blog .previews .text-preview {
  color: #6b6c6c;
}
main .blog .view-all {
  position: relative;
}
main .blog .view-all p a {
  color: #82ac20;
}
main .blog .view-all .underline {
  border-top: 1px solid #82ac20;
  position: absolute;
  width: 114px;
  left: 50%;
  transform: translateX(-50%);
  top: 62%;
}

footer {
  background-color: #171520;
}
footer .title {
  color: #ffffff;
  font-weight: 700;
}
footer .title p {
  margin-bottom: 17px;
}
footer .info {
  color: #9aa2a6;
  font-size: 0.9em;
}
footer .info a {
  color: #9aa2a6;
}
footer .info .address-socials ul.socials {
  display: flex;
  align-items: center;
}
footer .info .address-socials ul.socials li {
  font-size: 1.7em;
  margin-right: 30px;
}
footer .info .explore ul li {
  margin-bottom: 17px;
}
footer .info .information ul li {
  margin-bottom: 17px;
}
footer .copyright {
  color: #9aa2a6;
}
